.technologiesIcons {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 90vw;
  margin: 10px;
  padding: 40px;
  min-width: 300px;
}
.technologiesIconsRow{
  fill: #FFFFFF;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  max-width: 100%;
}
.toolsAndTechTitle {
  letter-spacing: 1px;
  font-size: 36px;
}

.adobephotoshopLogo:hover {
  fill: #31A8FF;
  transition: 0.5s;
}

.bootstrapLogo:hover {
  fill: #7952B3;
  transition: 0.5s;
}

.cssLogo:hover {
  fill: #1572B6;
  transition: 0.5s;
}

.gitLogo:hover {
  fill: #F05032;
  transition: 0.5s;
}

.htmlLogo:hover {
  fill: #E34F26;
  transition: 0.5s;
}

.javascriptLogo:hover {
  fill: #F7DF1E;
  transition: 0.5s;
}

.nextJsLogo {
  border-radius: 100%;
}

.nextJsLogo:hover {
  fill: #000000;
  background-color: white;
  transition: 0.5s;
}

.nodeJsLogo:hover {
  fill: #68a063;
  transition: 0.5s;
}

.npmLogo:hover {
  fill: #CB3837;
  transition: 0.5s;
}

.reactLogo:hover {
  fill: #61DAFB;
  transition: 0.5s;
}

.mySqlLogo:hover {
  fill: #4479A1;
  transition: 0.5s;
}

.typescriptLogo:hover {
  fill: #3178C6;
  transition: 0.5s;
}

.wordpressLogo:hover {
  fill: #21759B;
  transition: 0.5s;
}

.nestJsLogo:hover {
  fill: #E0234E;
  transition: 0.5s;
}

.tailwindCSSLogo:hover {
  fill: #06B6D4;
  transition: 0.5s;
}

.postgreSQLLogo:hover {
  fill: #4169E1;
  transition: 0.5s;
}

.pythonLogo:hover {
  fill: #3776AB;
  transition: 0.5s;
}

@media only screen and (max-width: 1000px) {
  .technologiesIconsRow {
    flex-wrap: wrap;
  }

  .toolsAndTechTitle {
    text-shadow: none;
  }
}

@media only screen and (max-width: 450px) {
  .toolsAndTechTitle {
    height: 85px;
  }
}
